/*
********
Reset
********
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
********
Common
********
*/

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/*
********
Typography
********
*/

body {
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Croissant One', cursive;
}

/*
********
Header
********
*/

header {
  text-align: center;
  padding: 50px;
  background-color: #8bd3dd;
}

h1 {
  margin-bottom: 10px;
  color: #001858;
}

h1 + p {
  font-size: 20px;
  font-weight: bolder;
}

/*
********
Main
********
*/
