/*
********
Reset
********
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
********
Common
********
*/

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

/*
********
Typography
********
*/

body {
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Croissant One', cursive;
}

/*
********
Header
********
*/

header {
  text-align: center;
  padding: 50px;
  background-color: #8bd3dd;
}

h1 {
  margin-bottom: 10px;
  color: #001858;
}

h1 + p {
  font-size: 20px;
  font-weight: bolder;
}

/*
********
Main
********
*/

.team {
  /* background-color: yellow; */
}

.team > .col {
  /* height: 100px; */
  width: calc(100% / 3 - 20px);
  /* background-color: aqua;
  border: 2px solid #001858; */
  float: left;
  padding: 20px;
  background-color: #001858;
  margin: 10px;
}

/* .box {
  background-color: #001858;
} */
