/*
********
Reset
********
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
********
Common
********
*/

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

/*
********
Typography
********
*/

body {
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Croissant One', cursive;
}

/*
********
Header
********
*/

header {
  text-align: center;
  padding: 50px;
  background-color: #8bd3dd;
  margin-bottom: 40px;
}

h1 {
  margin-bottom: 10px;
  color: #001858;
}

h1 + p {
  font-size: 20px;
  font-weight: bolder;
}

/*
********
Main
********
*/

.team > .col {
  width: calc(100% / 3 - 20px);
  float: left;
  padding: 20px;
  background-color: #8bd3dd;
  margin: 10px;
}

.team-face {
  float: left;
  width: 100px;
  background-color: blue;
}

.team-info {
  float: right;
  width: calc(100% - 100px);
  padding-left: 10px;
}

.team-face img {
  width: 100%;
  display: block;
}

.team-info h2 {
  font-size: 17px;
}

.team-info a {
  color: white;
  text-decoration: none;
}

.team-info a:hover {
  color: white;
  text-decoration: none;
}
